table {
    margin: auto;
    width: 60%;
    margin-top: 40px;
}

td {
    border: 1px solid black;
    padding: 40px;
}

.btns {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.fillBtns {
    width: 20%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fillBtns button {
    margin: 10px;
}

.white {
    background-color: white;
}

.grey {
    background-color: grey;
}

.black {
    background-color: black;
}

.brown {
    background-color:brown;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.lime {
    background-color: lime;
}