table {
    margin: auto;
    width: 60%;
    margin-top: 40px;
}

td {
    border: 1px solid black;
    padding: 40px;
}

.btns {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}